* {
   box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "serif";
    background-color: rgb(238, 231, 231);
}

/* Lays contents out one on top of the other */
.first-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* currently unsure of flex direction */ 
.second-flex {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
} 

.header {
    text-align: center;
}

.odin {
    
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
}

.gallery img {
    object-fit: cover;
}

h1 {
    font-weight: 100;
    font-size: 2rem;
}

img {
    width: 200px;
    height: 200px;
}

a {
    padding: 5rem;
    width: 80%;
}

